@charset "UTF-8";

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 100px; /* Adjust this value according to your footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
